MOODLE_HOST=moodle.gwan.com.br
MOODLE_SITE_NAME=Demo EAD - Prefeituras

MOODLE_ADMIN_USER=admin
MOODLE_ADMIN_PASSWORD=Troque_Para_Uma_Senha_Forte
MOODLE_ADMIN_EMAIL=admin@gwan.com.br

# PostgreSQL externo compartilhado (produção)
POSTGRES_HOST=postgres.gwan.com.br
POSTGRES_PORT=5432
POSTGRES_DATABASE=moodle
POSTGRES_USER=moodle
POSTGRES_PASSWORD=Troque_Db_Forte

REDIS_PASSWORD=Troque_Redis_Forte
